<template>
  <div class='{{pascalCase name}}'>
    <!-- Componente {{pascalCase name}} -->
  </div>
</template>

<script src='./{{camelCase name}}.js' />

<style scoped lang="scss" src="./{{camelCase name}}.scss"/>